.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.title {
    background-color: #4D82AA;
    color: #ffffff;
    margin: 0;
    padding-top: 0.2rem;
    padding-bottom: 0.6rem;
    text-align: center;
    font-size: 1.6rem;
}

.menu {
    background-color: #F7F4F4;
    padding-block: 1rem;
    display: flex;
    justify-content: center;
}

.menu-elems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1240px;
}

.menu-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-section {
    width: 8rem;
    height: 7rem;
    background-color: #98CC98;
    color: #F7F4F4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.2rem;
    text-decoration: none;
}

.menu-section-selected {
    background-color: #4D82AA;
}

.menu-section ~ .menu-section {
    margin-left: 32px;
}

.section-number {
    font-size: 5rem;
    margin: 0;
    line-height: 3.2rem;
    text-align: center;
}

.section-text {
    margin: 0;
    line-height: 1.1rem;
    text-align: center;
    font-size: 1.1rem;
}
